.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product-card {
  width: 200px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
h1{
  display: flex;
  justify-content: center;
  background-color: rgba(121, 119, 2, 0.5);
  color: darkgrey;
}
.welcome{
  display: flex;
  justify-content: center;
  background-color: red;
}
.new-product-form{
  
    padding: 2rem 1rem;
    margin: 2rem 0;
    background-color: rgba(57, 241, 152, 0.5);
  }
  
  .new-product-form form {
    display: flex;
    justify-content: center;
  }
  
  .new-product-form input {
    margin-right: 2rem;
    flex: 1;
  }
  
  .new-product-form button:hover {
    width: 150px;
  }
#footer{
  display: flex;
  justify-content: center;
}  
.searchbar{
  display: flex;
  justify-content:center;
}
#subscribe{
  font-family:Arial, Helvetica, sans-serif
}
#sub{
  background-color: rgba(121, 119, 2, 0.5);
}